# --- Pliki tymczasowe LaTeX ---
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.bbl
*.blg
*.bcf
*.xml

# --- Pliki wynikowe PDF ---
*.pdf

# --- Pliki osobiste / dane wrażliwe ---
autor.tex

# --- Foldery tymczasowe systemowe ---
__pycache__/
*.swp
.DS_Store
